{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cart') }}
{% endblock %}

{% block main %}
  <main class="cart-container">
    <header class="cart-header">
      <div class="cart-title">
        <h1>Panier</h1>
        <p>{{ cart|length }} article(s) dans le panier</p>
      </div>
    </header>
    <div class="breadcrumb">
      <i class="fa-solid fa-house"></i>
      <a href="{{ path('app_home') }}"> Accueil</a>
      <span>/</span>
      <a href="{{ path('app_cart') }}">Panier</a>
    </div>
    {% if app.session.flashbag|length > 0 %}{{ include('partials/flash_messages.html.twig') }}{% endif %}
    <section class="cart-list">
      {% if cart|length > 0 %}
        <div class="cart-items">
          {% for item in cart %}
            <div class="cart-item">
              <div class="cart-item__image">
                {% if item.lesson %}
                  <img src="{{ item.lesson.image ? asset('images/lessons/' ~ item.lesson.image) : asset('images/placeholder.jpg') }}" alt="{{ item.lesson.title }}" />
                {% elseif item.course %}
                  <img src="{{ item.course.image ? asset('images/courses/' ~ item.course.image) : asset('images/placeholder.jpg') }}" alt="{{ item.course.title }}" />
                {% endif %}
              </div>
              <div class="cart-item__content">
                {% if item.lesson %}
                  <h4 class="cart-item__title">Leçon : {{ item.lesson.title }}</h4>
                  {{ item.lesson.description|raw }}
                  {% if item.lesson.badge %}
                    <span class="{{ item.lesson.badge.cssClass }}">{{ item.lesson.badge }}</span>
                  {% endif %}
                {% elseif item.course %}
                  <h4 class="cart-item__title">Cours : {{ item.course.title }}</h4>
                  {{ item.course.description|raw }}
                  <span class="{{ item.course.badge.cssClass }}">{{ item.course.badge }}</span>
                {% endif %}
              </div>
              <div class="cart-item__options">
                <form action="{{ path('app_cart_delete') }}" method="POST">
                  <input type="hidden" name="token" value="{{ csrf_token('cart-delete') }}">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <button type="submit">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              </div>
              {% if item.discount %}
                <div class="cart-item__price">
                  <span class="discount">€ {{ item.price }}</span>
                  <span>€ {{ item.subTotal }}</span>
                </div>
              {% else %}
                <div class="cart-item__price">
                  <span>€ {{ item.price }}</span>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <aside class="cart-total">
          <div>
            <span class="cart-total__title">Discount :</span>
            <span class="cart-total__price">€ {{ totalDiscount|number_format(2, '.', '') }}</span>
          </div>
          <div>
            <span class="cart-total__title">Sous-total :</span>
            <span class="cart-total__price">€ {{ subTotal|number_format(2, '.', '') }}</span>
          </div>
          <div>
            <span class="cart-total__title">TVA 20% :</span>
            <span class="cart-total__price">€ {{ totalTva|number_format(2, '.', '') }}</span>
          </div>
          <div>
            <span class="cart-total__title total">Total :</span>
            <span class="cart-total__price total">€ {{ total|number_format(2, '.', '') }}</span>
          </div>
          <form action="{{ path('app_stripe') }}" method="POST">
            <input type="hidden" name="token" value="{{ csrf_token('order') }}">
            <button type="submit" class="btn">Passer la commande</button>
          </form>
        </aside>
      {% else %}
        {{ include('partials/flash_messages.html.twig') }}
      {% endif %}
    </section>
  </main>
{% endblock %}
