{% extends 'base.html.twig' %}

{% block title %}Mon apprentissage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('study') }}
{% endblock %}

{% block main %}
  <main class="study-container">
    <header class="study-header">
      <div class="study-header__wrapper">
        <h1>Mon apprentissage</h1>
      </div>
    </header>
    <div class="breadcrumb">
      <i class="fa-solid fa-house"></i>
      <a href="{{ path('app_home') }}"> Accueil</a>
      <span>/</span>
      <a href="{{ path('app_study', {id: app.user.id}) }}">Mon apprentissage</a>
    </div>
    <section class="study-content">
      {% if app.session.flashbag|length > 0 %}
        {{ include('partials/flash_messages.html.twig') }}
      {% endif %}
      {% if ordersItems%}
        <div class="study-content__wrapper">
          {% for orders_items in ordersItems %}
            {% if orders_items.course %}
              <div class="study-card">
                <a href="{{ path('app_course_show', {slug: orders_items.course.slug}) }}">
                  <img src="{{ orders_items.course.image ? asset('images/courses/' ~ orders_items.course.image) : asset('images/placeholder.jpg') }}">
                  <p>{{ orders_items.course.title }}</p>
                  <p>Progression : {{ progressByCourse[orders_items.course.id] ?? 0 }}%</p>
                  <div class="progress-bar">
                    <span style="width: {{ progressByCourse[orders_items.course.id] ?? 0 }}%;"></span>
                  </div>
                </a>
                {% set break = false %}
                {% for certification in certifications %}
                  {% if orders_items.course and certification.course.id == orders_items.course.id %}
                    {% set break = true %}
                  {% endif %}
                {% endfor %}
                {% if break == true %}
                  <img class="certified-icon" src="{{ asset('images/icons/certified.png') }}">
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div class="study-content__empty">
          <p>Vous n'avez pas encore de cours dans votre apprentissage</p>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock %}
