{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('lessons') }}
{% endblock %}

{% block main %}
  <main class="lessons">
    <header class="lessons-header">
      <section class="lessons-header__wrapper">
        <section class="lessons-header__description">
          <h1>{{ lesson.title }}</h1>
          <article>{{ lesson.description|raw }}</article>
          <div class="d-last-update">
            <i class="fa-solid fa-circle-info"></i>
            <p>Dernière mise à jour</p>
            <time datetime="{{ lesson.updatedAt|date('Y-m-d') }}">{{ lesson.updatedAt|date('Y-m-d') }}</time>
          </div>
          <div class="d-images">
            {% if lesson.image1 %}
              <img src="{{ asset('images/icons/') ~ lesson.image1 }}" alt="{{ lesson.title }}">
            {% endif %}
            {% if lesson.image2 %}
              <img src="{{ asset('images/icons/') ~ lesson.image2 }}" alt="{{ lesson.title }}">
            {% endif %}
          </div>
        </section>
        <section class="lessons-header__video">
          <div id="player" data-video-id="{{ videoId }}"></div>
        </section>
      </section>
    </header>
    <section class="lessons-contents">
      <aside class="lessons-contents__nav">
        <nav>
          <ul>
            {% for chapter in chapters %}
              <li>
                <div>
                  <img src="{{ asset('images/icons/') ~ chapter.image }}" alt="{{ chapter.title }}">
                  <a href="{{ path('app_chapters', {'slugLesson': lesson.slug, 'slugChapter': chapter.slug}) }}">{{ chapter.title }}</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>
      <section class="lessons-contents__chapter">
        
      {% if chapter %}
        {{ chapter.content|raw }}
      {% else %}
        <p>Conteudo não encontrado</p>
      {% endif %}
      </section>

    {#<h2>Les chapitres</h2>
    {% for chapter in chapters %}
      <div class="accordion">
        <div class="accordion-item">
          <header class="accordion-header">
            <div>
              <img src="{{ asset('images/icons/') ~ chapter.image }}">
              <p>{{ chapter.title }}</p>
            </div>
            <div>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </header>
          <div class="accordion-content">
            <p>Conteúdo da seção 1.</p>
          </div>
        </div>
      </div>
    {% endfor %}#}

    </section>
  </main>
{% endblock %}
