{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lesson') }}
{% endblock %}

{% block main %}
  <main class="lesson">
    <header class="lesson-header">
      <div class="lesson-header__wrapper">
        <div class="lesson-header__content">
          <h1>{{ lesson.title }}</h1>
          {{ lesson.description|raw }}
          <span class="lesson-header__badge">Chapitres disponibles : {{ chapters|length }}</span>
          <span class="lesson-header__check">
            {% if lessonCompletion[0].status == 'completed' %}
              <img src="{{ asset('images/icons/check.png') }}" alt="Lesson terminé">
              <p>Leçon terminée</p>
            {% endif %}
          </span>
        </div>
        <div class="lesson-header__image">
          <img src="{{ lesson.image ? asset('images/lessons/' ~ lesson.image) : asset('images/placeholder.jpg') }}" alt="{{ lesson.title }}" />
        </div>
      </div>
    </header>
    <div class="breadcrumb">
      <i class="fa-solid fa-house"></i>
      <a href="{{ path('app_home') }}"> Accueil</a>
      <span>/</span>
      <a href="{{ path('app_courses') }}">Cours</a>
      <span>/</span>
      <a href="{{ path('app_course_show', {'slug': lesson.course.slug}) }}">{{ lesson.course.title }}</a>
      <span>/</span>
      <a href="{{ path('app_lesson', {'slug': lesson.slug}) }}">{{ lesson.title }}</a>
    </div>
    <section class="lesson-content">
      <aside class="chapters-list">
        <div class="chapters-list__title">
          <i class="fa-solid fa-list"></i>
          <h4>Chapitres</h4>
        </div>
        <ul>
          {% for chapter in chapters %}
            <li class="{% if chapter == selectedChapter %}active{% endif %}">
              <img src="{{ chapter.image ? asset('images/icons/' ~ chapter.image) : asset('images/placeholder.jpg') }}" alt="{{ chapter.title }}">
              <a href="{{ path('app_lesson', {'slug': lesson.slug, 'chapterSlug': chapter.slug}) }}">{{ chapter.title }}</a>
            </li>
          {% endfor %}
          <li>
            <form action="{{ path('app_lesson_completed', {'id': lesson.id}) }}" method="POST">
              <label for="completed">Leçon terminée</label>
              <input
                type="checkbox"
                name="completed"
                id="completed"
                value="{{ lessonCompletion[0].status }}"
                {{ lessonCompletion[0].status == 'completed' ? 'checked' : '' }}
                onchange="this.form.submit()"
              >
            </form>
          </li>
        </ul>
      </aside>
      <article class="chapters-content">
        {% if selectedChapter %}
          <h4 class="chapter-title">{{ selectedChapter.title }}<h4>
          <div class="video-player">
            {% if videoId %}
              <div id="player" data-video-id="{{ videoId }}"></div>
            {% else %}
              <div class="">
                <p>Aucune vidéo disponible</p>
              </div>
            {% endif %}
            <div class="chapter-text">
              {{ selectedChapter.content|raw }}
            </div>
          </div>
        {% else %}
          <p>Sélectionnez un chapitre</p>
        {% endif %}
      </article>
    <section>
    {% for message in app.flashes('course_completed') %}
      <div id="course-completed-modal" class="modal show">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
          </div>
          <div class="modal-body">
            <h2>{{ message }}</h2>
            <p>Tu peux maintenant télécharger ton certificat de réussite</p>
            <a href="{{ path('app_certifications') }}" class="btn">Voir mes certificats</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </main>
{% endblock %}
