{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('courses') }}
{% endblock %}

{% block main %}
  <main class="courses">
    <header class ="courses-header">
      <div class="courses-header__wrapper">
        <div class="courses-header__infos">
          <div class="courses-header__breadcrumbs">
            <a href="{{ path('app_home') }}">
              <i class="fa-solid fa-house"></i>
              Accueil
            </a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="{{ path('app_categories', {'slug': course[0].theme|lower}) }}">{{ course[0].theme }}</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="#">{{ course[0].title }}</a>
          </div>
          <h1>{{ course[0].title }}</h1>
          <article>{{ course[0].description|raw }}</article>
          <div>
            <i class="fa-solid fa-circle-info"></i>
            <p>Dernière mise à jour</p>
            <time datetime="{{ course[0].updatedAt|date('Y-m-d') }}">{{ course[0].updatedAt|date('Y-m-d') }}</time>
          </div>
          <span>Nouveau</span>
        </div>
        <div class="courses-header__cta">
          <img src="{{ asset('images/courses/') ~ course[0].image }}" alt="{{ course[0].title }}">
          <p>€ {{ course[0].price }}</p>
          <a href="#" class="">
            <i class="fa-solid fa-cart-shopping"></i>
            Ajouter au panier
          </a>
        </div>
      </div>
    </header>
    <section class="courses-lessons">
      <h2>Ce que vous allez apprendre</h2>
      {% for lesson in lessons %}
        <div class="courses-lessons__content">
          <div>
            <h3>
              {{ lesson.title }}
            </h3>
            <article>{{ lesson.description|raw }}</article>
          </div>
          <div>
            <p>€ {{ lesson.price }}</p>
            <a href="#">
              <i class="fa-solid fa-cart-shopping"></i>
              Ajouter au panier
            </a>
            <a href="{{ path('app_lessons', {'slug': lesson.slug}) }}">View</a>
          </div>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock %}
