{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('course') }}
{% endblock %}

{% block main %}
  <main class="course-container">
    <header class="course-header">
      <div class="course-header__wrapper">
        <div class="course-header__content">
          <h1>{{ course.title }}</h1>
          {{ course.description|raw }}
          <div class="course-header__badges">
            <p>Leçons disponibles : {{ lessons|length }}</p>
            <span class="{{ course.badge.cssClass }}">{{ course.badge.name }}</span>
            <span class="{{ course.badge.cssClass }}">€ {{ course.price }}</span>
            {% set get_course = false %}
            {% for completed_course in completedCourses['course'] %}
              {% if completed_course == course.id %}
                  {% set get_course = true %}
              {% endif %}
            {% endfor %}
            {% if not get_course %}
              <form action="{{ path('app_cart_add') }}" method="POST">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <input type="hidden" name="user_id" value="{{ app.user.id }}">
                <input type="hidden" name="token" value="{{ csrf_token('cart-add') }}">
                <button type="submit" class="btn">
                  <i class="fa-solid fa-cart-plus"></i>
                  Acheter ce cours complet
                </button>
              </form>
            {% endif %}
          </div>
        </div>
        <div class="course-header__image">
          <img src="{{ course.image ? asset('images/courses/' ~ course.image) : asset('images/placeholder.jpg') }}" alt="themes" />
        </div>
      </div>
    </header>
    <div class="breadcrumb">
      <i class="fa-solid fa-house"></i>
      <a href="{{ path('app_home') }}"> Accueil</a>
      <span>/</span>
      <a href="{{ path('app_courses') }}">Cours</a>
      <span>/</span>
      <a href="{{ path('app_course_show', {'slug': course.slug}) }}">{{ course.title }}</a>
    </div>
    <section class="lessons-container">
      <div class="course-messages">
        {% if app.session.flashbag|length > 0 %}
          {{ include('partials/flash_messages.html.twig') }}
        {% endif %}
      </div>
      {% if lessons %}
        {% for lesson in lessons %}
          <div class="lessons-card">
            <div class="lessons-card__image">
              <img src="{{ lesson.image ? asset('images/lessons/' ~ lesson.image) : asset('images/placeholder.jpg') }}" alt="Image de la leçon">
            </div>
            <div class="lessons-card__content">
              <h2>{{ lesson.title }}</h2>
              {{ lesson.description|raw }}
              <div class="lessons-card__badges">
                <p>€ {{ lesson.price }}</p>
                {% if lesson.badge %}
                  <span class="{{ lesson.badge.cssClass }}">{{ lesson.badge.name }}</span>
                {% endif %}
              </div>
                {% set get_lessons = false %}
                {% if completedCourses['lesson'] %}
                  {% for completed_course in completedCourses['lesson'] %}
                    {% if completed_course == lesson.id %}
                      {% set get_lessons = true %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if completedCourses['course'] %}
                  {% for completed_course in completedCourses['course'] %}
                    {% if completed_course == lesson.course.id %}
                      {% set get_lessons = true %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if get_lessons %}
                  <a href="{{ path('app_lesson', {'slug': lesson.slug}) }}" class="btn-outline">
                    <i class="fa-solid fa-eye"></i>
                    Voir la leçon
                  </a>
                {% else %}
                  <form action="{{ path('app_cart_add') }}" method="POST">
                    <input type="hidden" name="lesson_id" value="{{ lesson.id }}">
                    <input type="hidden" name="user_id" value="{{ app.user.id }}">
                    <input type="hidden" name="token" value="{{ csrf_token('cart-add') }}">
                    <button type="submit" class="btn">
                      <i class="fa-solid fa-cart-plus"></i>
                      Ajouter au panier
                    </button>
                  </form>
                {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        {{ include('partials/flash_messages.html.twig') }}
      {% endif %}
    </section>
  </main>
{% endblock %}
