{% extends 'base.html.twig' %}

{% block title %}Édition du profil | Knowledge{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Mantém o CSS global #}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block main %}
  <main class="user-data">
    <div class="breadcrumb">
      <i class="fa-solid fa-house"></i>
      <a href="{{ path('app_home') }}"> Accueil</a>
      <span>/</span>
      <a href="{{ path('app_user_data', {id: app.user.id}) }}">{{ app.user.firstName }}</a>
    </div>
    <section class="container">
      <aside>
        <ul>
          <li class="aside-avatar">
            {% if app.user.image is not null %}
              <img src="{{ asset('uploads/' ~ app.user.image) }}">
            {% else %}
              <span>
                {{ app.user.firstName|slice(0, 1) }} {{ app.user.lastName|slice(0, 1) }}
              </span>
            {% endif %}
          </li>
          <li>
            <p>{{ app.user.firstName }} {{ app.user.lastName }}</p>
          </li>
          <li>
            <a href="{{ path('app_user_profile') }}"
            class="{{ app.current_route == 'app_user_profile' ? 'active' : '' }}"
            >
              Voir le profil public
            </a>
          </li>
          <li>
            <a href="{{ path('app_user_data', {id: app.user.id}) }}"
            class="{{ app.current_route == 'app_user_data' ? 'active' : '' }}"
            >
              Profil
            </a>
          </li>
          <li>
            <a
              href="{{ path('app_user_avatar', {id: app.user.id}) }}"
              class="{{ app.current_route == 'app_user_avatar' ? 'active' : '' }}"
            >
              Photo
            </a>
          </li>
        </ul>
      </aside>

      <section>
        <header class="user-data__title">
          <h1>
            {{ title }}
          </h1>
         <p>
            {{ subtitle }}
          </p>
        </header>
        <section class="content">
          {% if app.current_route == 'app_user_avatar' %}
            {{ include('user/userAvatar.html.twig') }}
          {% elseif app.current_route == 'app_user_data' %}
           {{ include('user/userData.html.twig') }}
          {% elseif app.current_route == 'app_user_profile' %}
            {{ include('user/userProfile.html.twig') }}
          {% endif %}
        </section>
      </section>

    </section>
  </main>
{% endblock %}
